/* header starts */
header {
  padding: 2rem 3.5rem;
  justify-content: space-between;
}

.header_left {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catchy_heading {
  font-size: 2.5rem;
}

.primary_heading {
  font-size: 2.7rem;
}

.header_tagline {
  margin: 1.5rem 0;
}

.btn_primary {
  margin-right: 1rem;
  color: white;
}

.header_right {
  flex-basis: 67%;
  justify-content: space-between;
}

.header_points {
  max-width: 19vw;
  height: 81vh;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.box2 {
  bottom: 4.2rem;
}

.box3 {
  bottom: 2rem;
}

.number {
  font-family: "Lora", serif;
  font-size: 1.5rem;
}

.separator {
  border: 2px solid var(--secondary-color);
  border-bottom: none;
  margin: 0.3rem 0;
}

.header_point_desc {
  font-size: 0.9rem;
}

.header_img {
  height: 80%;
  width: 19vw;
  object-fit: cover;
}
/* header ends */

/* focus starts */
.focus {
  height: 100vh;
  padding: 3rem 3.5rem;
}

.focus_content {
  justify-content: space-between;
}

.focus_heading {
  font-size: 2.2rem;
  font-weight: 500;
  flex-basis: 50%;
}

.focus_content_wrapper {
  flex-basis: 35%;
}

.focus_para {
  line-height: 1.5rem;
}

.focus_img {
  height: 75%;
  display: flex;
  margin: 2rem auto;
}
/* focus ends */

/* showcase starts */
.showcase {
  height: 100vh;
  padding: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase_project {
  justify-content: space-between;
  margin: 2rem 0;
}

.project {
  width: 22rem;
  margin: 1rem;
}

.project_heading {
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 0.7rem;
}

.project_desc {
  font-size: 0.95rem;
  margin-top: 0.4rem;
}

.showcase1 {
  width: 22rem;
  height: 17rem;
  object-fit: cover;
}

.showcase_separator {
  width: 10%;
  margin: 0 auto;
}
/* showcase ends */

/* sevices starts */
.services {
  background-color: rgb(249, 249, 249);
  height: 100vh;
  padding: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.service_box {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.5rem;
  width: 73vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1.5rem;
  z-index: 1;
  height: 60vh;
}

.service {
  margin: 1rem 0.5rem;
  width: 18rem;
  padding: 1rem;
}

.service_icon {
  font-size: 2rem;
  color: var(--secondary-color);
}

.service_heading {
  font-size: 1rem;
  margin-left: 1rem;
}

.service_details {
  font-size: 0.9rem;
  color: grey;
  margin-top: 0.5rem;
}

.service_img {
  width: 27vw;
  height: 40vh;
  position: absolute;
}

.servces_img1 {
  left: 0;
  bottom: 0;
}

.servces_img2 {
  top: 0;
  right: 0;
}
/* services ends */

/* newsletter starts */
.search_domain {
  background-image: url("../asseets/images/room6.jpg");
  object-fit: cover;
  border-radius: 0 15rem 15rem 0;
  padding: 3rem 5rem;
  margin: 6rem 0 4rem 0;
}

.company {
  color: var(--primary-color);
  font-weight: bold;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.478);
}

.search_domain > h1 {
  font-size: 3rem;
  width: 40%;
  margin-top: 1rem;
}

.search_div {
  background-color: #fff;
  padding: 0.5rem 0.7rem 0.5rem 1.5rem;
  border-radius: 2.5rem;
  margin: 2rem 0;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
}

.icon_styling {
  margin-right: 0.7rem;
  color: var(--primary-color);
}

.search_wrapper {
  flex-basis: 70%;
}

.search_wrapper > i {
  font-size: 1.5rem;
}

.search_domain_input {
  outline: none;
  font-size: 1.1rem;
  border: 0;
  width: 70%;
}

.btn_search {
  border-radius: 2.5rem;
  padding: 0.7rem 2.5rem;
  margin-right: 0;
  background-color: var(--primary-color);
  color: white;
}

.search_domain > p {
  max-width: 60vw;
  color: white;
}
/* newsletter ends */

/* testimonial starts */
#testimonials {
  text-align: center;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  padding: 30px 0;
  z-index: 1;
  width: 100%;
}
.section-title {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 40px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.listing-carousel-button {
  position: absolute;
  top: 50%;
  width: 80px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  z-index: 100;
  cursor: pointer;
  background: var(--primary-color);
  box-shadow: 0 9px 26px rgba(63, 126, 124, 0.458);
  transition: all 200ms linear;
  outline: none;
}
.listing-carousel-button.listing-carousel-button-next {
  right: -30px;
  padding-right: 20px;
  border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev {
  left: -30px;
  padding-left: 20px;
  border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover {
  right: -15px;
  background: rgba(63, 126, 124, 0.458);
}
.listing-carousel-button.listing-carousel-button-prev:hover {
  left: -15px;
  background: rgba(63, 126, 124, 0.458);
}
.testi-item {
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
  opacity: 0.9;
}
.testimonials-text {
  padding: 75px 50px 75px;
  overflow: hidden;
  background: var(--grey-color);
  border: 1ps solid #f1f1f1;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.testimonials-text-after {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  color: #ccc;
  opacity: 0.3;
  font-size: 35px;
  transition: all 400ms linear;
  bottom: 25px;
  right: 30px;
}
.testimonials-text-before {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  color: #ccc;
  opacity: 0.3;
  font-size: 35px;
  transition: all 400ms linear;
  top: 25px;
  left: 30px;
}
.testimonials-text .listing-rating {
  float: none;
  display: inline-block;
  margin-bottom: 12px;
}
.listing-rating i {
  color: var(--primary-color);
}
.testimonials-avatar h3 {
  font-weight: 600;
  color: rgb(120, 181, 181);
  font-size: 18px;
}
.testimonials-avatar h4 {
  font-weight: 400;
  font-size: 12px;
  padding-top: 6px;
  color: var(--primary-color);
}
.testimonials-carousel .swiper-slide {
  padding: 30px 0;
}
.testi-avatar {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 90px;
  height: 90px;
  margin-left: -45px;
  z-index: 20;
}
.testi-avatar img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  float: left;
  border-radius: 100%;
  border: 6px solid #fff;
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}
.swiper-slide-active .testimonials-text {
  background: #fff;
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}
.testimonials-text p {
  color: #878c9f;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 500;
}
.text-link {
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  border-radius: 10px 10px 0 0;
  background: #f9f9f9;
  border: 1px solid #eee;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.03);
  left: 50%;
  width: 200px;
  margin-left: -100px;
}
.swiper-slide-active .testi-item {
  opacity: 1;
  transform: scale(1);
}
.tc-pagination {
  float: left;
  margin-top: 10px;
  width: 100% !important;
}
.tc-pagination_wrap {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
}
.tc-pagination2 {
  float: none;
  display: inline-block;
  padding: 14px 0;
  background: #fff;
  border-radius: 30px;
  min-width: 250px;
  border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet,
.tc-pagination2.swiper-pagination-bullet {
  opacity: 1;
  background: var(--primary-color);
  margin: 0 2px;
  width: 10px;
  height: 10px;
  transition: all 300ms ease-in-out;
}
/* testimonial ends */

@media only screen and (max-width: 770px) {
  header,
  .services,
  .showcase,
  .focus {
    padding: 1rem 2rem;
  }

  /* header starts */
  .header_left {
    flex-basis: 100%;
  }

  .catchy_heading {
    font-size: 1.7rem;
  }

  .primary_heading {
    font-size: 2.1rem;
  }

  .header_tagline {
    margin: 0.5rem 0;
  }

  .btn_primary {
    margin-right: 0.5rem;
  }

  .header_right {
    flex-basis: 100%;
    height: 40vh;
  }

  .header_points {
    max-width: 30%;
    height: 30vh;
  }

  .box_content {
    display: none;
  }

  .box1 {
    top: 3.5rem;
    margin-bottom: 1rem;
  }

  .box2 {
    top: 2rem;
  }

  .box3 {
    top: 0.5rem;
  }

  .header_img {
    height: 30vh;
    width: 100%;
  }
  /* header ends */

  /* showcase starts */
  .showcase {
    height: fit-content;
  }

  .project {
    width: 100%;
  }
  /* showcase ends */

  /* sevices starts */
  .services {
    height: fit-content;
    padding: 3rem 2rem;
    position: inherit;
    display: flex;
  }

  .service_box {
    width: 78vw;
    margin: 0;
    padding: 1rem;
    z-index: 0;
    height: fit-content;
  }

  .service {
    margin: 0.5rem;
    padding: 0.7rem;
  }

  .service_icon {
    font-size: 1rem;
  }

  .service_heading {
    margin-left: 0.6rem;
  }

  .service_details {
    font-size: 0.9rem;
    color: grey;
    margin-top: 0.5rem;
  }

  .service_img {
    display: none;
  }

  .servces_img1 {
    display: none;
  }

  .servces_img2 {
    display: none;
  }
  /* services ends */

  /* focus starts */
  .focus {
    height: fit-content;
  }

  .focus_content {
    flex-direction: column;
  }

  .focus_heading {
    font-size: 1.7rem;
    flex-basis: 100%;
  }

  .focus_content_wrapper {
    flex-basis: 100%;
  }

  .focus_para {
    margin-top: 0.8rem;
  }

  .focus_img {
    height: auto;
    width: 85vw;
    margin: 1rem auto;
  }
  /* focus ends */

  /* newsletter starts */
  .search_domain {
    border-radius: 0;
    padding: 1.2rem;
    margin: 2rem 0;
  }

  .search_domain > h1 {
    font-size: 2rem;
    width: 100%;
  }

  .search_div {
    padding: 0.4rem 0.6rem;
    border-radius: 2rem;
    margin: 1rem 0;
    width: 90vw;
  }

  .icon_styling {
    margin-right: 0.3rem;
  }

  .search_wrapper {
    flex-basis: 75%;
  }

  .search_wrapper > i {
    font-size: 1rem;
  }

  .search_domain_input {
    font-size: 0.9rem;
    width: 12rem;
  }

  .btn_search {
    border-radius: 1.5rem;
    padding: 0.5rem 0.8rem;
    font-weight: 400;
    font-size: 0.75rem;
  }

  .search_domain > p {
    max-width: 90vw;
    font-size: 0.85rem;
  }
  /* newsletter ends */
}
