@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Dancing+Script:wght@500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Dancing+Script:wght@500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* custom scrollbar starts */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #235957;
}
/* custom scrollbar ends */

/* 
font-family: 'Corinthia', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: "Open Sans", sans-serif;
font-family: "Lora", serif;
font-family: "Dancing Script", cursive;
*/

/* root variables start */
:root {
  --primary-color: #3f7e7c;
  --secondary-color: #3f7e7c;
  --tertiary-color: rgb(244, 226, 179);
  --grey-color: #f2f2f2;
}
/* root variables ends */

/* universal style starts */
.flex {
  display: flex;
  flex-wrap: wrap;
}

.align_center {
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.btn_primary_link {
  color: white;
}

.btn_secondary_link {
  color: black;
}

.cursive {
  font-family: "Dancing Script", cursive;
  font-family: "Corinthia", cursive;
}

h1,
h2 {
  font-family: "Lora", serif;
}

.heading_span {
  color: var(--secondary-color);
  font-family: "Lora", serif;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.btn_primary {
  background-color: var(--secondary-color);
  border: 4px solid var(--secondary-color);
  color: white;
}

.btn_secondary {
  border: 2px solid var(--secondary-color);
}
/* univrsal style ends */

.mt_1 {
  margin-top: 1rem;
}

.xl_para {
  font-size: 1.1rem;
}

.mr_t_sm {
  margin-top: 0.5rem;
}

.para_mob {
  font-size: 0.9rem;
}

.gap_0_5 {
  gap: 0.5rem;
}

/* generic styles starts NEW */
.mrl_4 {
  margin: 0 4rem;
}

.ml_sm {
  margin-left: 0.8rem;
}

.mr_tb_sm {
  margin: 0.5rem 0;
}

.mr_tb_md {
  margin: 1rem 0;
}

.danger_color {
  color: var(--danger-color);
}

.color_black {
  color: var(--black-color);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex_no_wrap {
  flex-wrap: nowrap;
}

.flex_15 {
  flex-basis: 15%;
}

.flex_30 {
  flex-basis: 30%;
}

.flex_40 {
  flex-basis: 40% !important;
}

.gap_0_5 {
  gap: 0.5rem;
}

.align_center {
  align-items: center;
}

.justify_btw {
  justify-content: space-between;
}

.flex_end {
  align-content: flex-end;
}

.txt_center {
  text-align: center;
}

.sm_para {
  font-size: 0.9rem;
}

.lg_para {
  font-size: 1.1rem;
}

.xl_para {
  font-size: 1.3rem;
}

.flex_column {
  flex-direction: column;
}

.btn {
  border: none;
  outline: none;
  padding: 0.7rem 2.3rem;
  font-size: 1rem;
}

.btn_primary {
  background-color: var(--primary-color);
  color: var(--white-color);
  margin: 2rem 0;
}

.btn_secondary {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.7rem 3rem;
  font-family: "Lora", serif;
}

.mt_xsm {
  margin-top: 1rem;
}

.mt_sm {
  margin-top: 2rem;
}

.mt_md {
  margin-top: 4rem;
}

.mt_lg {
  margin-top: 6rem;
}
/* generic style ends NEW */

/* nav starts */
nav {
  padding: 0.7rem 3.5rem;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

.nav_img {
  width: 4rem;
}

.nav_link {
  padding: 1rem 1.2rem;
  color: black;
  font-size: 1.1rem;
}

.active {
  font-weight: 600;
  color: var(--primary-color);
}

.hamburger {
  display: none;
  margin: 1.8rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-color);
}
/* nav ends */

/* modal starts */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgba(0, 0, 0, 0.448);
  height: 100vh;
  width: 100vw;
  z-index: 199;
}

.content_box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 600px;
  height: 400px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.close {
  position: absolute;
  top: 30px;
  right: -80px;
  width: 40px;
  height: 40px;
  background: #f3f3f3 url("../asseets/images/close.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.btn_offer {
  position: absolute;
  top: 80%;
  right: 2%;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
}

.btn_offer > a {
  color: #fff;
}

/* modal ends */

/* headings starts */
.heading_tagline {
  text-align: center;
  color: var(--primary-color);
  line-height: 20px;
  max-width: 550px;
  margin: 0 auto 0.5rem auto;
}

.showcase_heading {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
}

.section_separator {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
}
.section_separator:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 3px;
  width: 8rem;
  border-radius: 3px;
  z-index: 2;
  background-color: var(--primary-color);
  margin-left: -65px;
}
/* heading ends */

/* Footer starts */
footer {
  background-color: var(--grey-color);
  padding: 3rem 3rem 1.5rem 3rem;
  justify-content: space-between;
}

.footer_links {
  color: #000;
}

.footer_left,
.footer_right {
  flex-basis: 30%;
}

.footer_mid1,
.footer_mid2 {
  flex-basis: 15%;
}

.side_icon {
  margin-right: 0.7rem;
  background-color: var(--primary-color);
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.side_icon > i {
  color: #fff;
  font-size: 1rem;
}

.footer_img {
  height: 6.25rem;
  width: 6.25rem;
  object-fit: cover;
}
/* Footer ends */

/* about developer starts */
.about_developer {
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: rgb(227, 225, 225);
}

.developer {
  font-size: 0.9rem;
  text-align: center;
}

.developer_name {
  font-family: "Dancing Script", cursive;
  font-size: 1.7rem;
}
/* about developer ends */

@media only screen and (max-width: 770px) {
  /* nav start */
  .brand_name > img {
    max-height: 2.5rem;
  }

  nav {
    padding: 0.5rem 1rem;
    margin: 0;
    width: 100vw;
  }

  .nav_list {
    position: fixed;
    left: -120%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 10rem;
    justify-content: space-evenly;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }

  .nav_list.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* nav ends */

  /* btns starts */
  .btn {
    padding: 0.5rem 0.6rem;
    font-size: 0.9rem;
  }

  .btn_primary {
    margin: 1rem 0;
  }

  .btn_secondary {
    padding: 0.5rem 1rem;
  }
  /* btn ends */

  .showcase_heading {
    font-size: 1.7rem;
  }

  /* Footer starts */
  footer {
    padding: 2rem;
  }

  .footer_left,
  .footer_right {
    flex-basis: 100%;
  }

  .footer_mid1,
  .footer_mid2 {
    flex-basis: 45%;
    margin: 1rem 0;
  }

  .side_icon {
    margin-right: 0.5rem;
  }

  .footer_img {
    width: 31%;
  }
  /* Footer ends */

  /* about developer starts */
  .about_developer {
    justify-content: center;
    padding: 1rem;
    align-items: center;
  }

  .developer {
    font-size: 0.9rem;
    margin: 0.5rem auto 0 auto;
  }

  .developer_name {
    font-size: 1.2rem;
  }
  /* about developer ends */

  .mr_tb_md {
    margin: 0.5rem 0;
  }

  /* modal starts */
  .content_box {
    width: fit-content;
    height: fit-content;
  }

  .content_box img {
    width: 90vw;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    background-size: 12px;
  }

  .btn_offer {
    top: 80%;
    right: 15%;
    color: white;
    padding: 0.2rem 0.3rem 0.3rem 0.3rem;
    font-size: 0.5rem;
  }

  /* modal ends */

}
